<!doctype html>

<html>

  <head>

    <title>About Page</title>
	<link rel="stylesheet" type="text/css" href="./style/style.css"/>
  </head>
<body>
  <h1> Calorie Budddy</h1>

	<h2>About page</h2>

<a href= '/'>Home</a>

                                                                                                                                                                                                                  

<a href='/about'>About </a>

                                                                                                                                                                                                                  

<a href='/register'>Register </a>

                                                                                                                                                                                                                  

<a href='/login'>Login <a>

                                                                                                                                                                                                                  

<a href='/addfood'>Add Food </a>

                                                                                                                                                                                                                  

<a href='/search'>Search Food</a>

                                                                                                                                                                                                                  

<a href='/update'>Update Food</a>

                                                                                                                                                                                                                  

<a href='/list'>Food List </a>

                                                                                                                                                                                                                  

<a href='/api'>Api </a>

                                                                                                                                                                                                                  

<a href='/logout'>Logout </a>

                                                                                                                                                                                                                 
                                                                                                                                                                                        
                                                                                                                                                                                       
                                                                                                                                                                                      
                                                                                                                                                                      

<h3> This is the about page</h3>

    <p>Hello!! This is the about page. Please Register/Login to visit all pages. </p>

<p>This is a dynamic web application called "Calorie Buddy". That will function as a digital calorie counter to help you manage your diet. You will able to calculate the nutritional facts including calories for your recipe or meals based on the ingridents in it.
<br>
You can add different nutritional fact and amount for your food ingredient and store those in the database. Calorie Buddy will provide you the sum of the calories for each food recipe or meal.
you will able you check how much calorie you are using for each meal.
<br> 
You will able you search the recipe or meal by the name or you can search food by ingridents. if you search a ingrident that will shoe you all the recipr or meal made of that ingrident.
<br>
You can see all the food recipe list in the food list page.<br>
Thank you for using Calorie Buddy!! :)
 </p>
                                                                                                                                                                                                                  

  </body>
                                                                                                                                  
                                                                                                                                                
                                                                                                                                                                     
                                                                                          
                                                                                            
                                                                                                                                                                                                                                                                                                                                                 
                                                                                                                                                                                                                                                                                                                     
</html>
