<!doctype html>
 <html>
      <head>                                       

    <title>add page</title>                                    

  </head>

     <h1> Calorie Buddy </h1>
	<link rel="stylesheet" type="text/css" href="./style/style.css"/>

  <body>

<h2>Add Food Page!!</h2>

<br>

<a href= '/'>Home</a>
                                                                                                                                                                                                                  
<a href='/about'>About </a>
                                                                                                                                                                                                                  
<a href='/register'>Register </a>
                                                                                                                                                                                                                  
<a href='/login'>Login <a>
                                                                                                                                                                                                                  
<a href='/addfood'>Add Food </a>
                                                                                                                                                                                                                  
<a href='/search'>Search Food</a>
                                                                                                                                                                                                                  
<a href='/update'>Update Food</a>
                                                                                                                                                                                                                  
<a href='/list'>Food List </a>
                                                                                                                                                                                                                  
<a href='/api'>Api </a>
                                                                                                                                                                                                                  
<a href='/logout'>Logout </a>
                                                                                                                                                                                                                                                                                 
<br><br>

   < p>Please fill relaeted data to add the food to the database </p><br>

<br>
                                                                    
<form method="POST" action="/foodadded">                                                                

Food name: <input id="name" type="text" name="name" value="name" /><br>
<br/>
Amount:<input id="amount" type="text" name="amount" value="amount"/>
<br/>
unit: <input id= "unit" type="text" name="unit" value = "unit"/>
<br/>
calories:<input id="calories" type="text" name="calories" value = "calories"/>
<br/>
carbs: <input id="carbs" type="text" name="carbs" value = "carbs"/>
<br/>
fat: <input id="fat" type="text" name="fat" value = "fat"/>
<br/>
protein:<input id = "protein" type="text" name= "protein" value="Protein"/>
<br/>
salt: <input id="salt" type="text" name"salt" value = "salt"/>
<br/>
sugar: <input id="sugar" type="text" name="sugar" value = "sugar"/>



<!--
Price: <input id="Price" type="text" name="price" value = "price"

/><br>

-->
  <input type = "submit" value = "Submit" />

                                                                     
</form>
                                               
                                                                                                                                                                                                                                                                                                                                                                                                                                    </body>                                                                                                                                                                                                  


</html>
