<!doctype html>
 <html>
      <head>                                       

    <title>add page</title>                                    

  </head>

     <h1> Calorie Buddy </h1>
	<link rel="stylesheet" type="text/css" href="./style/style.css"/>

  <body>

<br>
<nav>
  <a href= '/'>Home</a>
                                                                                                                                                                                                                    
  <a href='/about'>About </a>
                                                                                                                                                                                                                    
  <a href='/register'>Register </a>
                                                                                                                                                                                                                    
  <a href='/login'>Login </a>
                                                                                                                                                                                                                    
  <a id="currentPage" href='/addfood'>Add Food </a>
                                                                                                                                                                                                                    
  <a href='/search'>Search Food</a>
                                                                                                                                                                                                                    
  <a href='/update'>Update Food</a>
                                                                                                                                                                                                                    
  <a href='/list'>Food List </a>
                                                                                                                                                                                                                    
  <a href='/api'>Api </a>
                                                                                                                                                                                                                    
  <a href='/logout'>Logout </a>
</nav>
                                                                                                                                                                                                                                                                                 


<br>
<section class="contentSection">                                                            
<form method="POST" action="/foodadded"> 
  <h3 class="title">ADD FOOD</h3>                                                               
  <p>Please fill relaeted data to add the food to the database </p>
  <input id="name" type="text" name="name" placeholder="name" />
  <br/>
  <input id= "unit" type="text" name="unit" placeholder = "unit"/>
  <br/>
  <input id="calories" type="text" name="calories" placeholder = "calories"/>
  <br/>
  <input id="carbs" type="text" name="carbs" placeholder = "carbs"/>
  <br/>
  <input id="fat" type="text" name="fat" placeholder = "fat"/>
  <br/>
  <input id = "protein" type="text" name= "protein" placeholder="Protein"/>
  <br/>
  <input id="salt" type="text" name="salt" placeholder = "salt"/>
  <br/>
  <input id="sugar" type="text" name="sugar" placeholder = "sugar"/>

  <input class="submit" type = "submit" value = "Add" />

                                                                     
</form>
</section>                                                 
                                                                                                                                                                                                                                                                                                                                                                                                                                    </body>                                                                                                                                                                                                  


</html>
