<!doctype html>
                                                                                                                                                                               

 <html>

                                                                                                                                                                               
 <head>                                                                   
                                                                                                                                                                               

    <title>delete page</title>                                    

                                                                                                                                                                               
<link rel="stylesheet" type="text/css" href="./style/style.css"/>

  </head>

                                                                                                                                                                               

     <h1>Delete user page </h1>

                                                                                                                                                                               

  <body>

     <a href= '/'>Home</a>

<a href='/about'>About</a>

<a href= '/register'>Register</a>

<a href= '/login'>Login</a>

<a href='/addbook'>Add Book</a>

<a href='/search'>Search</a>

<a href='/list'>Book List</a>

<a href= '/listusers'>User List</a>

<a href= '/weatherform'>Weather</a>

<a href= '/api'>API</a>                                                                                                                                                      

                                   <br>                                                                                                                                            

                                                                                                                                                                               

   < p>Please Enter the username you wish to delete: </p><br>

                                                                                                                                                                               

<br>

                                                                                                                                                                               

                                                                                                                                                                               

                                                                                                                                                                               

<form method="POST" action="/deleted">

                                                                                                                                                                               

                                                                                                                                                                               

UserName: <input id="username" type="text" name="username" value="username" /><br>
                                                                                                                                                                              
                                                                                                                      
                                                                                                                                                                               

<input type = "submit" value = "Delete" />



                                                                                                                                                                               

</form>

                                                                                                                                                                               

<p>If you want to check the userlist please <a href='/listusers'>Click Here</a></p>
                                                                                                                                                                     
<a href= '/'>Home</a>



<a href='/about'>About</a>



<a href='/addbook'>Add Book</a>



<a href='/search'>Search</a>



<a href='/list'>Book List</a>
                                                                                          
<a href='/logout'>Logout</a>
                                                                                        
                                                                                                                                                                               
</body>
</html>
