<!doctype html>       <!-- document type-->

<html>		<!--root Html documnet-->

  <head>	<!--info of the docment-->

    <title>Home page</title> <!-- top titel-- >
	<link rel="stylesheet" type="text/css" href="./style/style.css"/>

  </head>

<body>

<h1> Calorie Buddy </h1> 
 
<!-- link to other pages-->

<a href= '/'>Home</a>

<a href='/about'>About </a>

<a href='/register'>Register </a>

<a href='/login'>Login <a>

<a href='/addfood'>Add Food </a>

<a href='/search'>Search Food</a>

<a href='/update'>Update Food</a>

<a href='/list'>Food List </a>

<a href='/api'>Api </a>

<a href='/logout'>Logout </a>



<h3>This is the home page of Calorie Buddy!</h3>
                                                                                                                                                                                                                  

    <p>Welcome to the home page of the Calorie Buddy.<br> <strong> Thank you!</strong></p>  <!--paragraph in the body-->


 <footer>

				
				<div class="reference">

					Design by Diana

				</div>

		</footer>

</body>

</html>
