<!doctype html>
                                                                                 
<html>
<head>                                                                                     
    <title>Listusers  webpage!</title>
	<link rel="stylesheet" type="text/css" href="./style/style.css"/>                                                                                           
  </head>
                                                                                           
    <h1>Users List Page </h1>
                                                                                           
          <body>
        
<a href= '/'>Home</a>

<a href='/about'>About</a>

<a href= '/register'>Register</a>

<a href= '/login'>Login</a>

<a href='/addbook'>Add Book</a>

<a href='/search'>Search</a>

<a href='/list'>Book List</a>

<a href='/deleteuser'>Delete User</a>

<a href= '/weatherform'>Weather</a>

<a href= '/api'>API</a>
                                                                                   
            <h3>You can see the userlist here:</h3>
                                                                                           
            <ul>
                                                                                           
              <% users.forEach(function(user){ %>

         <br>                                                                                 
    <li>First Name:<%= user.name %>, Last Name: <%= user.lastname %> <br> Username: <%= user.username %> <br> Email: <%= user.email %><br></li>
                                                                                           
             <% }) %>
                                                                                           
            </ul>
                                                                                           
  </body>
                                                                                         
                                                                                                                                               

</html>
