<!doctype html>

 <html>

 <head>                                                                   

    <title>login page</title>                                    
    <link rel="stylesheet" type="text/css" href="./style/style.css"/>

  </head>

     <h1> Calorie Buddy </h1>

  <body>

<h2>Login Page</h2>

<a href= '/'>Home</a>
                                                                                                                                                                                                                  
<a href='/about'>About </a>
                                                                                                                                                                                                                  
<a href='/register'>Register </a>
                                                                                                                                                                                                                  
<a href='/login'>Login <a>
                                                                                                                                                                                                                  
<a href='/addfood'>Add Food </a>
                                                                                                                                                                                                                  
<a href='/search'>Search Food</a>
                                                                                                                                                                                                                  
<a href='/update'>Update Food</a>
                                                                                                                                                                                                                  
<a href='/list'>Food List </a>
                                                                                                                                                                                                                  
<a href='/api'>Api </a>
                                                                                                                                                                                                                  
<a href='/logout'>Logout </a>
                                                                                                                                                                                 
                                                                                                                                                                                                                                                                                                                                                                                                     

                                                                                                                                                                                                           
                                                                                                                                                                                                                  
                                                                                                                                                                                                               
                                                                                                                                                                                                               
                                                                                                                                                                                                                  
                                                                                                                                                                                                                  
                                                                                                                                                                                                        
                                                                                                                                                                                                                  
                                                                                                                                                                                                                  
                                                                                                                                                                                                            
                                                                                                                                                                                                                  
                                                                                                                                                                                                            
                                                                                                                                                                                                             
                                                                                                                                                                                                                 
                     <br>                                                                                                                                                                                           

   <p>Please Enter username and password to login: </p><br>

<br>

                                                                                                                                            

<form method="POST" action="/loggedin">
                                                                                                                                           
                                                                                                                                         
UserName: <input id="username" type="text" name="username" value="username" /><br>
                                                                                                                                            

Password: <input id= "password" type = "text" name = "password" value = "8 Characters or more" /><br>
                                                                                                                                          
<input type = "submit" value = "Login" />                                                                                                                                            

</form>

<p>If you want to register please <a href='/register'>Click Here</a></p>
                                                                                                                                                                                                            
                                                                                       
</body>
                                                                                                                                 
                                                                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                                                
                                                                                                                                                                                                  
                                      
                                                                                                                                              
</html>
