<!doctype html>

 <html>

 <head>                                                                   

    <title>login page</title>                                    
    <link rel="stylesheet" type="text/css" href="./style/style.css"/>

  </head>

  <body>
     <h1> Calorie Buddy </h1>


     <nav>
<a href= '/'>Home</a>
                                                                                                                                                                                                                  
<a href='/about'>About </a>
                                                                                                                                                                                                                  
<a href='/register'>Register </a>
                                                                                                                                                                                                                  
<a id="currentPage" href='/login'>Login </a>
                                                                                                                                                                                                                  
<a href='/addfood'>Add Food </a>
                                                                                                                                                                                                                  
<a href='/search'>Search Food</a>
                                                                                                                                                                                                                  
<a href='/update'>Update Food</a>
                                                                                                                                                                                                                  
<a href='/list'>Food List </a>
                                                                                                                                                                                                                  
<a href='/api'>Api </a>
                                                                                                                                                                                                                  
<a href='/logout'>Logout </a>
                                                                                                                                                                                 
                                                                                                                                                                                                                                                                                                                                                                                                     
</nav>
                                                                                                                                                                                                           
 <section class="contentSection">

<form method="POST" action="/loggedin">
   <h3 class="title">LOGIN PAGE</h3>                                                                                                                                                                                                                                                                                                                                                                                   
                                        
   <p>Please Enter username and password to login: </p><br>

<br>
                                                                                                                                         
<input id="username" type="text" name="username" placeholder="username" /><br>
                                                                                                                                            

<input id= "password" type = "password" name = "password" placeholder = "Password(8 Characters or more)" /><br>
                                                                                                                                          
<input class="submit" type = "submit" value = "Login" />                                                                                                                                            

</form>

<p>If you want to register please <a href='/register'>Click Here</a></p>
                                                                                                                                                                                                            
             
</section>  
<footer>
   <div class="reference">
      <p>Design by Diana</p>
  </div>
</footer>

</body>
                                      
                                                                                                                                              
</html>
