<!doctype html>

<html>

  <head>

    <title>search page</title>
	<link rel="stylesheet" type="text/css" href="./style/style.css"/>

  </head>


  <body>

    <h1> Calorie Buddy </h1>


<nav>
<a href= '/'>Home</a>
                                                                                                                                                                                                                  

<a href='/about'>About</a>

                                                                                                                                                                                                                  

<a href='/register'>Register</a>

                                                                                                                                                                                                                  

<a href='/login'>Login</a>

                                                                                                                                                                                                                  

<a href='/addfood'>Add Food </a>

                                                                                                                                                                                                                  

<a id="currentPage" href='/search'>Search Food</a>

                                                                                                                                                                                                                  

<a href='/update'>Update Food</a>

                                                                                                                                                                                                                  

<a href='/list'>Food List </a>

                                                                                                                                                                                                                  

<a href='/api'>Api</a>

                                                                                                                                                                                                                  

<a href='/logout'>Logout</a>

</nav>

<section class="contentSection">

   
	<form action="/searchresult" method="GET">

    <h3 class="title">SEARCH PAGE</h3>
    <p>Please search what are you looking for</p>

	<input id="search-box" type="text" name="keyword" placeholder="Food name" >

    	<input class = "submit" type="submit" value="OK" >

  </form>

</section>

<footer>
  <div class="reference">
    <p>Design by Diana</p>
 </div>
</footer>

  </body>

                                                                       
                                                                                                                                                                                                                 
                                                                                                                                                         
                                                                                                                                                                                                                                                               
                                                                                                                                                           
                                                                                                                                           
                                                                                                                                         

</html>
