<!doctype html>

<html>

  <head>

    <title>search page</title>
	<link rel="stylesheet" type="text/css" href="./style/style.css"/>

  </head>

  <h1> Calorie Buddy </h1>

  <body>

<h2>Search Page</h2>

<a href= '/'>Home</a>
                                                                                                                                                                                                                  

<a href='/about'>About</a>

                                                                                                                                                                                                                  

<a href='/register'>Register</a>

                                                                                                                                                                                                                  

<a href='/login'>Login<a>

                                                                                                                                                                                                                  

<a href='/addfood'>Add Food </a>

                                                                                                                                                                                                                  

<a href='/search'>Search Food</a>

                                                                                                                                                                                                                  

<a href='/update'>Update Food</a>

                                                                                                                                                                                                                  

<a href='/list'>Food List </a>

                                                                                                                                                                                                                  

<a href='/api'>Api</a>

                                                                                                                                                                                                                  

<a href='/logout'>Logout</a>

<br> <br>
   < p>Please search what are you looking for</p>
	<form action="/searchresult" method="GET">


	<input id="search-box" type="text" name="keyword" value="Food name" >

    	<input type="submit" value="OK" >

  </form>
  </body>

                                                                       
                                                                                                                                                                                                                 
                                                                                                                                                         
                                                                                                                                                                                                                                                               
                                                                                                                                                           
                                                                                                                                           
                                                                                                                                         

</html>
