<!doctype html>
                                                                                            
<html>
                                                                                            
  <head>
                                                                                            
    <title>Weather Page</title>
	
	<link rel="stylesheet" type="text/css" href="./style/style.css"/>                                                                                            
  </head>
                                                                                            
  <h1> Weather page </h1>
                                                                                            
  <body>

<a href= '/'>Home</a>

                                                                                                                                                                                                                  

                                                                                                                                                                                                                  

<a href='/about'>About</a>

                                                                                                                                                                                                                  <a href= '/register'>Register</a>

<a href= '/login'>Login</a>
                                                                                                                                                                                                                  

<a href='/addbook'>Add Book</a>

                                                                                                                                                                                                                  

                                                                                                                                                                                                                  

<a href='/search'>Search</a>

                                                                                                                                                                                                                  

                                                                                                                                                                                                                  

<a href='/list'>Book List</a>

                                                                                                                                                                                                                  

                                                                                                                                                                                                                  

                                                                                                                                                                                                                  

<a href= '/listusers'>User List</a>

                                                                                                                                                                                                                  

                                                                                                                                                                                                                  

                                                                                                                                                                                                                  

<a href='/deleteuser'>Delete User</a>

                                                                                                                                                                                                                  

                                                                                                                                                                                                                  

<a href='/logout'>Logout</a>

                                                                                                                                                                                                                                                                                                                                                                                                                                  

                                                                                                                                                                                                                  

<a href= '/api'>Api</a>    <br>    
                                                                                    
   <p>Please search the city name to find out the weather<p><br>

        <form action="/weather" method="GET">                                                                                            
                                                                                           
        City Name: <input id="city" type="text" name ="city" value="City" >
                                                                                            
        <input type="submit" value="search" >
                                                                                            
  </form>

  </body>
                                                                                           
</html>
                                                                                          
                                                                         
                                                                 
